.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
null/
test_results/
.cache/
# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
